.starButton {
  position: absolute;
  top: 10px;
  right: 10px;

  background: rgba(255, 255, 255, 0.95);
  border: none;
  border-radius: 50%;
  pointer-events: auto;

  width: 36px;
  height: 36px;

  display: flex;
  align-items: center;
  justify-content: center;

  cursor: pointer;
  z-index: 3;
}

.star {
  font-size: 18px;
  color: #f5a623;
}

.starButton:hover {
  background: white;
  transform: scale(1.05);
}

/* Tooltip */
.tooltip {
  position: absolute;
  top: 42px;
  right: 0;

  background: #000;
  color: #fff;
  font-size: 11px;
  padding: 4px 8px;
  border-radius: 4px;

  white-space: nowrap;
  opacity: 0;
  pointer-events: none;
  transform: translateY(-4px);
  transition: all 0.2s ease;
}

.starButton:hover .tooltip {
  opacity: 1;
  transform: translateY(0);
}
